<h1>Welcome to Zoinks</h1>

<h3>Are you a recurring member?</h3>
<%= link_to "Login", login_path %><br><br>

<h3>Would you like to create an account?</h3>
<%= link_to "Create Account", new_user_path %>
